* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #5a68f6, #6dd5ed);
  min-height: 100vh;

}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.error {
  color: red;
}

.popup-edit {
  background-color: yellowgreen;
  padding: 20px;
}

input,
textarea {
  display: block;
  padding: 5px;
}