* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #6a8de8, #86c8f9);
  min-height: 100vh;

}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.error {
  color: red;
}

.popup-edit {
  background-color: yellowgreen;
  padding: 20px;
}

input,
textarea {
  display: block;
  padding: 5px;
}